**/node_modules/
node_modules/
**/pnpm-lock.yaml
**/yarn.lock
**/.pnpm-debug.log*

**/dist/
**/build/
**/.next/
**/.out/

**/.env
**/.env.local
**/.env.*.localg
**/.env.development.local
**/.env.production.local

.DS_Store
Thumbs.db
**/.vscode/
**/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
